package public

templ DocType() {
    <!DOCTYPE html>
}

templ Head() {
    <head>
        <link rel="stylesheet" href="static/dist/tailwind.css"/> 
        <script src="https://unpkg.com/htmx.org@latest"></script>
  <script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script>
  <!-- Alpine Plugins -->
  <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
  <!-- Alpine Core -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="icon" type="image/x-icon" href="static/dist/favicon.ico"/>
        <title>Capture the Flag</title>
    </head>
}

templ TopBar() {
    <div class="bg-blue-500 text-white w-full p-4 flex justify-between items-center">
        <div class="text-lg font-semibold">
        <a hx-get="/index" hx-swap="innerHTML" hx-push-url="true" hx-target="#main" class="hover:text-blue-300 cursor-pointer">Capture the Flag</a>
        </div>
        <nav>
            <ul class="flex space-x-4">
                <li><a hx-get="/index" hx-swap="outerHTML" hx-push-url="true"
                 hx-target="#root" class="hover:text-blue-300 cursor-pointer">Oppgaver</a></li>
            </ul>
        </nav>
    </div>
}

templ Body(component templ.Component) {
    <body id="body" class="min-h-screen bg-gray-100 flex flex-col relative m-0 p-0">
        @TopBar()
        <main id="main" style="min-height: calc(100vh - 64px);" class="flex flex-col justify-between ">
            {! component}
        </main>
    </body>
}

templ Base(component templ.Component) {
    @DocType()
    <html>
        @Head()
        @Body(component)
    </html>
}